@charset "UTF-8";

@font-face {
  font-family: "icons";
  src:url("fonts/icons.eot");
  src:url("fonts/icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/icons.woff") format("woff"),
    url("fonts/icons.ttf") format("truetype"),
    url("fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

/*
[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-circle-o-left:before {
  content: "\61";
}
.icon-arrow-circle-o-right:before {
  content: "\62";
}
.icon-arrow-circle-o-up:before {
  content: "\63";
}
.icon-arrow-circle-up:before {
  content: "\65";
}
.icon-arrow-down:before {
  content: "\66";
}
.icon-arrow-left:before {
  content: "\67";
}
.icon-arrow-right:before {
  content: "\68";
}
.icon-arrow-up:before {
  content: "\69";
}
.icon-battery-empty:before {
  content: "\6a";
}
.icon-battery-full:before {
  content: "\6b";
}
.icon-battery-half:before {
  content: "\6c";
}
.icon-battery-quarter:before {
  content: "\6d";
}
.icon-battery-three-quarters:before {
  content: "\6e";
}
.icon-bus:before {
  content: "\6f";
}
.icon-circle:before {
  content: "\70";
}
.icon-circle-o:before {
  content: "\71";
}
.icon-check-circle-o:before {
  content: "\72";
}
.icon-stop:before {
  content: "\73";
}
.icon-clock-solid:before {
  content: "\74";
}
.icon-user:before {
  content: "\75";
}
.icon-battery-power:before {
  content: "\76";
}
.icon-battery-4:before {
  content: "\77";
}
.icon-battery-2:before {
  content: "\78";
}
.icon-battery-3:before {
  content: "\79";
}
.icon-battery-1:before {
  content: "\7a";
}
.icon-battery-0:before {
  content: "\41";
}
.icon-clock:before {
  content: "\42";
}
.icon-pin:before {
  content: "\43";
}
.icon-speedometer:before {
  content: "\44";
}
.icon-engine:before {
  content: "\45";
}
.icon-plug:before {
  content: "\46";
}
.icon-tachometer:before {
  content: "\47";
}
.icon-search:before {
  content: "\48";
}
.icon-truck:before {
  content: "\49";
}
.icon-ban:before {
  content: "\64";
}
.icon-plug-1:before {
  content: "\4a";
}
.icon-square:before {
  content: "\4b";
}
.icon-square-o:before {
  content: "\4c";
}
.icon-logout:before {
  content: "\4d";
}
.icon-bell-slash-o:before {
  content: "\4e";
}
.icon-bell-slash:before {
  content: "\4f";
}
.icon-bell-o:before {
  content: "\50";
}
.icon-bell:before {
  content: "\51";
}
