/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 .login_page{
 }
.ui-header .ui-title{
    padding: 12px 0;
}
.ui-header, .ui-footer {
    border-width: 0;
    border-style: solid;
    position: relative;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-color: #1d1c1c;
    border-color:none;
    color: #7d7d7d;
    text-shadow: none;
    /* font-weight: 700; */
}
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.size25{
    font-size: 25px;
}
.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(90, 90, 90, 0.75) 1.1em 1.1em 0 0, rgba(90, 90, 90, 0.75) 1.1em 1.1em 0 0, rgba(83, 83, 83, 0.75) 0 1.5em 0 0, rgba(75, 75, 75, 0.75) -1.1em 1.1em 0 0, rgba(65, 65, 65, 0.75) -1.5em 0 0 0, rgba(53, 53, 53, 0.75) -1.1em -1.1em 0 0, rgba(38, 38, 38, 0.75) 0 -1.5em 0 0, rgba(34, 34, 34, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(90, 90, 90, 0.75) 1.1em 1.1em 0 0, rgba(90, 90, 90, 0.75) 1.1em 1.1em 0 0, rgba(83, 83, 83, 0.75) 0 1.5em 0 0, rgba(75, 75, 75, 0.75) -1.1em 1.1em 0 0, rgba(65, 65, 65, 0.75) -1.5em 0 0 0, rgba(53, 53, 53, 0.75) -1.1em -1.1em 0 0, rgba(38, 38, 38, 0.75) 0 -1.5em 0 0, rgba(34, 34, 34, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
 .ui-page{
    background-color: #d6d6d6;
 }
 .ui-mobile label, div.ui-controlgroup-label {
    font-weight: 400;
    font-size: 14px;
    color: #777777;
}
.ui-input-text input, .ui-input-search input {
    margin: 0;
    color: #949494;
    }
 .label{
        color: white;
    padding-top: 10px;
 }
.loginbutton{
    margin: 15px 0;
    background-color: #434444 !important;
    color: white !important;
    text-shadow: none !important;
    border: none !important;
}
#demo-page #left-panel.ui-panel {
    width: 15em;
}
#demo-page #left-panel.ui-panel-closed {
    width: 0;
}
#demo-page .ui-panel-position-left.ui-panel-display-reveal {
    left: 0;
}
#demo-page .ui-panel-content-wrap-position-left.ui-panel-content-wrap-open,
.ui-panel-dismiss-position-left.ui-panel-dismiss-open {
    left: 15em;
    right: -15em;
}
#demo-page .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal {
    left: 0;
    right: 0;
    -webkit-transform: translate3d(15em,0,0);
    -moz-transform: translate3d(15em,0,0);
    transform: translate3d(15em,0,0);
}
/* Combined listview collapsible menu. */
/* Unset negative margin bottom on the listviews. */
#left-panel .ui-panel-inner > .ui-listview { margin-bottom: 0; }
/* Unset top and bottom margin on collapsible set. */
#left-panel .ui-collapsible-set { margin: 0; }
/* The first collapsible contains the collapsible set. Make it fit exactly in the collapsible content. */
#left-panel .ui-panel-inner > .ui-collapsible > .ui-collapsible-content { padding-top: 0; padding-bottom: 0;  border-bottom: none; }
/* Remove border top if a collapsible comes after a listview. */
#left-panel .ui-panel-inner  > .ui-collapsible > .ui-collapsible-heading .ui-btn,
#left-panel .ui-collapsible.ui-first-child .ui-collapsible-heading .ui-btn { border-top: none; }
/* Give the first collapsible heading the same padding, i.e. same height, as the list items. */
#left-panel .ui-collapsible-heading .ui-btn-inner { padding: .7em 40px .7em 15px; }
/* Give the other collapsible headings the same padding and font-size as the list divider. */
#left-panel .ui-collapsible-set .ui-collapsible-heading .ui-btn-inner { padding: .5em 40px .5em 15px; font-size: 14px; }
/* Styling of the close button in both panels. */
#demo-page .ui-panel-inner > .ui-listview .ui-first-child {
    background: #eee;
}
/* Reveal menu shadow on top of the list items */
#demo-page .ui-panel-display-reveal {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#demo-page .ui-panel-content-wrap-position-left {
    -webkit-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
    -moz-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
    box-shadow: -5px 0px 5px rgba(0,0,0,.15);
}
/* Use the ui-body class of your page theme (ui-body-d in this demo) to set a background image.
This class will be added to the content wrapper, while the page itself gets the same background
as the panel before opening the panel. */
#demo-page .ui-body-d {
    background-image: url(../../_assets/img/bg-pattern.png);
    background-repeat: repeat-x;
    background-position: left bottom;
}
/* Styling of the page contents */
.article p {
    margin: 0 0 1em;
    line-height: 1.5;
}
.article p img {
    max-width: 100%;
}
.article p:first-child {
    text-align: center;
}
.article small {
    display: block;
    font-size: 75%;
    color: #c0c0c0;
}
.article p:last-child {
    text-align: right;
}
.article a.ui-btn {
    margin-right: 2em;
    -webkit-border-radius: .4em;
    border-radius: .4em;
}
@media all and (min-width:769px) {
    .article {
        max-width: 994px;
        margin: 0 auto;
        padding-top: 4em;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 2em;
        -moz-column-gap: 2em;
        column-gap: 2em;
    }
    /* Fix for issue with buttons and form elements
    if CSS columns are used on a page with a panel. */
    .article a.ui-btn {
        -webkit-transform: translate3d(0,0,0);
    }
}



 @font-face{
    font-family: 'ptsans';
    src: url('fonts/ptsans.woff')
 }
* { 
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
.left{
    float: left;
}
.icon-arrow-circle-up {
    display: inline-block;
}
#speed{
  font-size: 16px;
}

.device_name{
    width: 98px;
    display: inline-block;
    overflow: hidden;
}


.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-color: #252b33
    }

    .ui-bar-a {
    border-width: 1px;
    border: 1px solid #20242b !important;
}
#contentDevice{
        padding: 15px;
    color: white
}
.right{
    float: right;
}
.center{
        width: 80% !important;
    margin: 0 auto !important;
}
#container-login{
        width: 75%;
    /* top: 98px; */
    margin: 45px auto;
}
#bad{
    color: red
}
.eltime{
        color: grey;
    font-size: 12px;
}
 
.none{
    display: none !important;
}
.red{
    color: #fc5454;
}
.green{
    color: green
}
.shutdown{
    color: grey
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed; 
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px; 
    width:100%;
}
.infoTable tr td {
    padding: 5px;
}

.infoTable  {
    margin: 0 auto;
}


.info{
    width: 50%;
    float: left;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
    text-shadow:none !important;
}
.title{
    color: blue
}
.title {
    color: #7591ff;
    font-size: 18px;
}
.subtitle {
    color: #fff;
    font-size: 18px;
}
.seeDeviceStyle{
    font-family: ptsans;
        background-color: #252b33 !important;
    text-shadow:none !important;
   color:white !important;
        border-top: 1px solid #1d1d1d !important;
}
 .tablist-left {
    width: 25%;
    display: inline-block;
}
.tablist-content {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
}
.labels {
    background: white;
    padding: 5px;
    /* position: absolute; */
    /* width: 300px; */
    /* right: -6px; */
    /* left: 10px; */
    border-radius: 3px;
    border: 1px solid #d4d4d4;
}
